{% load humanize %}
<table class="min-w-full bg-white shadow-md rounded-lg">
    <thead class="bg-gray-200">
        <tr>
            <th class="py-2 px-4 text-left">Name</th>
            <th class="py-2 px-4 text-left">Category</th>
            <th class="py-2 px-4 text-left">Clicks</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr class="border-b">
                <td class="py-2 px-4">
                    <a href="{% url 'item' item.slug %}"
                       class="text-blue-600 hover:underline">{{ item.title }}</a>
                </td>
                <td class="py-2 px-4">{{ item.category }}</td>
                <td class="py-2 px-4">{{ item.get_total_clicks|intcomma }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
