{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                UNILNK
            {% endblock title %}
        </title>
        <meta name="description"
              content="Aggregating working links from the internet to save your time.">
        <!-- Favicon -->
        <link rel="icon"
              type="image/png"
              href="{% static 'favicon/favicon-96x96.png' %}"
              sizes="96x96" />
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'favicon/favicon.svg' %}" />
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'favicon/apple-touch-icon.png' %}" />
        <meta name="apple-mobile-web-app-title" content="UNILNK" />
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />
        <!-- Tailwind CSS -->
        <script src="{% static 'tailwind-3.4.16.js' %}"></script>
    </head>
    <body class="bg-gray-100 text-gray-900">
        <div class="container mx-auto p-6">
            {% include "partials/navbar.html" %}
            {% block content %}
            {% endblock content %}
            {% include "partials/disclaimer.html" %}
            {% include "partials/active-users.html" %}
            {% include "partials/footer.html" %}
        </div>
    </body>
</html>
