{% extends "base.html" %}
{% block title %}
    Search | {{ block.super }}
{% endblock title %}
{% block content %}
    <!-- Search Bar -->
    <div class="bg-white p-6 shadow-md rounded-lg mb-6">
        <h2 class="text-2xl font-semibold mb-4">Search</h2>
        <form method="GET"
              action="{% url 'search' %}"
              class="flex items-center border rounded-lg overflow-hidden">
            <input type="text"
                   name="q"
                   placeholder="Enter search term..."
                   value="{{ request.GET.q }}"
                   class="w-full p-3 border-none outline-none">
            <button type="submit" class="bg-blue-500 text-white px-6 py-3">Search</button>
        </form>
    </div>
    <!-- Search Results -->
    <div class="bg-white p-6 shadow-md rounded-lg">
        <h3 class="text-xl font-semibold mb-4">Search Results</h3>
        {% if items %}
            {% include "partials/item/table.html" with items=items %}
            <!-- Pagination -->
            <div class="flex justify-center mt-4">
                {% if items.has_previous %}
                    <a href="?q={{ request.GET.q }}&page={{ items.previous_page_number }}"
                       class="border border-gray-500 text-gray-500 px-4 py-2 mx-1 rounded hover:bg-gray-200">Previous</a>
                {% endif %}
                {% for num in items.paginator.page_range %}
                    {% if items.number == num %}
                        <span class="border border-blue-500 text-white bg-blue-500 px-4 py-2 mx-1 rounded">{{ num }}</span>
                    {% else %}
                        <a href="?q={{ request.GET.q }}&page={{ num }}"
                           class="border border-blue-500 text-blue-500 px-4 py-2 mx-1 rounded hover:bg-blue-100">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if items.has_next %}
                    <a href="?q={{ request.GET.q }}&page={{ items.next_page_number }}"
                       class="border border-gray-500 text-gray-500 px-4 py-2 mx-1 rounded hover:bg-gray-200">Next</a>
                {% endif %}
            </div>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
{% endblock content %}
